TOKEN = Token del bot
CLIENT_ID = ID del bot
HOST = Host del servidor que usará el bot para recibir las peticiones POST, se puede colocar “localhost” o la ip del servidor en el que este se encontrará alojado ej.:10.0.0.20
ROUTE = Ruta utilizada por el bot para recibir las peticiones POST ej.: sendbot
PORT = Puerto del servidor que el bot utilizará para recibir las peticiones POST ej.:3000
GUILD_ID = ID del servidor de Discord en el que se establecerá el bot
TICKETS_CATEGORY = Nombre de la categoría que el bot creará en el servidor para almacenar los tickets
TICKETS_PREFIX = Nombre que utilizará el bot para crear los canales de ticket
TICKETS_LOG_CHANNEL = Nombre del canal que utilizará el bot para enviar la transcripción de los tickets cerrados
MONGO_USER = Nombre de usuario para poder conectarse a MongoDB 
MONOG_PASS = Contraseña para poder conectarse a MongoDB
MONGO_DATABASE = Nombre de la base de datos a utilizar en MongoDB
MONGO_HOST = Dirección IP donde se encuentra hosteado MongoDB
MONGO_PORT = Puerto por el cual comunicarse con MongoDB
MONGO_COLLECTION = Nombre de la tabla a utilizar en MongoDB
